body{

background-color: RGB(210,150,107);


}

section figure img{

    
    display: flex;
   justify-content: center;
}


header{

    color: brown;
    display:flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    
    margin-left:-5px;
    margin-top:-10px;
    


    background-color: rgb(0, 0, 0);
    @media (max-width: 9998px) {
        min-width: 400px;
        height: 133px;
        width:100vw;
        
    }
 
    
}

.input1{
    

   
  
        opacity: 0.9;
        border: none;
        border-radius: 1px;
        min-width: 40px;
        padding: 8px;
        margin-bottom:1rem;

        @media (max-width: 768px) {
            min-width: 6px;
        } 
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Juster som nødvendig */
  
}

.categories img {
    width: 60px; /* Standard størrelse for bildene */
    height: 55px;
    border-radius: 50%; /* Gjør bildene til sirkler */
    margin: -5px; /* Juster avstanden mellom bildene */
    
}

/* Medieforespørsler for å endre størrelsen på bildene basert på skjermstørrelsen */
@media (max-width: 768px) {
    .categories img {
        width: 50px;
        height: 45px;
    }
}

@media (max-width: 480px) {
    .categories img {
        width: 40px;
        height: 40px;
       margin-left: 20%;
    }
}

figure{

margin: 5px;


}