body{

background-color: RGB(210,150,107);


}

section figure img{

    
    display: flex;
   justify-content: center;
}


header{

    color: brown;
    display:flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    
    margin-left:-5px;
    margin-top:-10px;
    


    background-color: rgb(0, 0, 0);
    @media (max-width: 9998px) {
        min-width: 400px;
        height: 133px;
        width:100vw;
        
    }
 
    
}

.input1{
    

   
        
        opacity: 0.9;
        border: none;
        border-radius: 1px;
        min-width: 40px;
        padding: 8px;
        margin-bottom:1rem;

        @media (max-width: 768px) {
            min-width: 6px;
        } 
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Juster som nødvendig */
    
   
  
}

.categories img {
    width: 60px; /* Standard størrelse for bildene */
    height: 55px;
    border-radius: 50%; /* Gjør bildene til sirkler */
    margin: 0px; /* Juster avstanden mellom bildene */
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
}

/* Medieforespørsler for å endre størrelsen på bildene basert på skjermstørrelsen */
@media (max-width: 768px) {
    .categories img {
        width: 50px;
        height: 45px;
       
    }
}

@media (max-width: 480px) {
    .categories img {
        width: 40px;
        height: 40px;
       margin-left: 20%;
     
    }
}

figure{

margin: 5px;


}

.box{
    background-color: rgb(255, 81, 0);
    border-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    


@media (max-width: 9998px) {
        min-width: 400px;
        height: 153px;
        width:100vw;
        margin-left: -7px;
        margin-top: 5%;
    }
}

.shoe-box{
    width: 30px;
    height: 10px;
   display: block;
    margin-right: 90px;
    margin-top: 25px;
  
   
   

}

.shoe-box img{

    width: 80px;
    height: 80px;
    border-radius: 15%;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;
    
    margin-top: -200%;
    margin-left: -24% ;
}
.shoe-box img:hover {
    transform: scale(1.1); /* Endre størrelsen på hover */
  }
  .shoe-box img:not(:hover) {
    transform: scale(1); /* Tilbakestill størrelsen når ikke hover */
  }
.box2{
    background-color: rgb(255, 81, 0);
    border-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    


@media (max-width: 9998px) {
        min-width: 400px;
        height: 200px;
        width:100vw;
        margin-left: -7px;
        margin-top: 5%;
    }
}

.shoe-box2 img{

    width: 170px;
    height: 170px;
    left: -70%;
 
}

.shoe-box2{

      display:flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
